.messagesFooter {
    grid-area: footer;
    background-color: #09d3ac;
    display: grid;
    grid-template-areas:"input button";
    grid-template-columns: auto 35px;
    grid-column-gap: 10px;
    grid-template-rows: 1fr;
    -webkit-box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.26);
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.26);
}