:root {
  --principal-color: #455a64;
  --principal-color-darker: #405052;
  --principal-color-lighter: #718792;
  --principal-color-light: #607d8b;
  --principal-color-lightest: #eceff1;
  --basic-color: #cccccc;
  --basic-color-light: #eeeeee;
}


* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

  background: linear-gradient(#dddddd, white);
}
